body {
	margin: 0;
	font-family: sans-serif;
}

#wrapper {
	background-color: #051E3E;
	height: 100vh;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

#sequence {
    animation: pulse 5s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;
}

@keyframes pulse {
	0% {
	color: white;
	}
	15% {
		color: #051E3E;
	}
	50% {
		color: #051E3E;
	}
	60% {
		color: #051E3E;
	}
	80% {
		color: #051E3E;
	}
	100% {
		color: white;
	}
}

body {
	font-family: "Lato", sans-serif
}

#map {
	height: 80vh;
	transition-duration: 1s;
}
.tutorial-row {
	transition-duration: 1s;
}
.tutorial-text {
	text-align: center;
	font-size: 25px;
}
.btn-xs {
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 3px;
}



#model-control-bar {
	transition-duration: 1s;
}

.row [class*='col-'] {
    transition: all 1s ease-in-out;
}