body {
	margin: 0;
	font-family: sans-serif;
}

#wrapper {
	background-color: #051E3E;
	height: 100vh;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

#sequence {
	animation: pulse 5s;
	animation-delay: 0;
	animation-iteration-count: infinite;
	animation-direction: forward;
}

.navbar {
	min-height: 60px;
  }

  
body {
	font-family: "Lato", sans-serif;
	overflow-x: hidden;
}

#map {
	height: 80vh;
	transition-duration: 1s;
}

.tutorial-row {
	transition-duration: 1s;
}

.tutorial-text {
	text-align: center;
	font-size: 25px;
}

.btn-xs {
	padding: 5px 10px;
	font-size: 10px;
	border-radius: 3px;
}

#model-control-bar {
	/* transition-duration: 1s; */
}

.row [class*='col-'] {
	/* transition: all 1s ease-in-out; */
}

.container {
	height: 100vh;
}

.pulse {
	overflow-x: hidden;
	position: relative;
}

.pulse:before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: inherit;
	border-radius: inherit;
	transition: opacity .7s, transform .7s;
	animation: pulse-animation 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
	z-index: -1;
}

@keyframes pulse-animation {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	50% {
		opacity: 0;
		transform: scale(1.1);
	}
	100% {
		opacity: 0;
		transform: scale(1.1);
	}
}


/* .blink {
	display: block;
	border-radius: 50%;
	cursor: pointer;
	animation: pulse 2s infinite;
  }
  
  @keyframes blink {
	0% {
	  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
	  box-shadow: 0 0 0 0;
	}
	70% {
	  -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	   box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}
	100% {
	  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	   box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
  } */


  .fa-div-map-icon {
	/* text-align: center;
	vertical-align: middle; */
	font-size: 48px;
	/* Horizontally center the text (icon) */

	/* Vertically center the text (icon) */
  }
  
  .help-hover {
	  opacity: 0.5;
	  margin: auto;
  }

  .help-hover:hover {
	  opacity: 0.9;
  }

  /* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
	font-family: "Lato", sans-serif;
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 125%;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }

  .fa-store{
	font-size: 1em;
	color: #fff;
	text-shadow: 3px 3px 16px #272634;} 